* {
  margin-top: 0px;
  font-family: Arial;
}

body {
  background: linear-gradient(-45deg, #336699 100%, #6699ff 30%);

}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;

}

.sidebar {
  position: relative;
  display: flex;
  margin: 50px 20px;
  background-color: lightblue;
  width: 30%;
  height: 900px;
  border-radius: 20px;
  border: 4px solid rgb(88, 83, 83);
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', cursive;
}

.sidebar-items {
  position: relative;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileimage {
  width: 200px;
  border: 4px solid black;
  border-radius: 8px;
}

.profile-name {
  margin: 10px 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.4rem;
}

.tag-name {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 1.8rem;
  border-radius: 8px;
  background-color: lightslategray;
}

.download-resume {
  width: 100%;
  color: black;
  text-decoration: none;
  margin: 10px 0px;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-detail {
  flex-direction: column;
  gap: 12px;
  font-weight: bold;
  background-color: lightslategray;
  padding: 1rem 1.9rem;
  margin: 10px 0px;
  border-radius: 8px;
}

.download-resume-content:hover {
  color: #212ff1;
}

.download-resume-content {
  margin-bottom: 0px;
}

.sb-font-weight {
  font-weight: bold;
  font-size: 1.2rem;
}

.padding-border {
  padding: 0px 8px;
  border-radius: 8px;
}

.padding-border:hover {
  cursor: pointer;
  background-color: #b2b6b9;
}

.sb-email {
  padding: 10px 8px;
  margin: 10px 0px;
}

.sb-email-btn {
  margin: 20px;
  border-radius: 6px;
  background-color: lightslategrey;
}

/* MainBar Styles */

.mainbar {
  margin: 50px 20px;
  background-color: lightblue;
  padding: 50px 20px;
  width: 60%;
  border-radius: 20px;
  border: 4px solid rgb(88, 83, 83);
  height: auto;
}

.avatar {
  width: 200px;
  height: 200px;
}

.icons {
  width: 25px;
  height: 25px;
  margin: 8px;
}

.fromstart {
  display: flex;
  align-items: flex-start;
}

.mainbar__container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-left: 10px;
}

.mainbar__items {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
  font-size: 1.2rem;
  padding-right: 20px;
}

.mainbar__active {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  font: sans-serif;
  border-bottom: 4px solid #164a7e;
}

.mainbar__item {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 15px;
}


.mainbar__item:hover {
  color: #212ff1;
}

.container__inner {
  position: relative;
  width: 100%;
  height: 90%;
}


/* about Component */
.about__objective {
  position: relative;
  font-size: 1.3rem;
  line-height: 1.4;
  padding: 13px;
  margin-bottom: 20px;
}

.about__offered {
  position: relative;
  width: auto;
  height: 80%;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: lightslategray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.about__offer {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}

.about__offer__each {
  position: relative;
  width: 45%;
  height: 45%;
  line-height: 2;
  padding: 30px;
}

.about__icons {
  position: relative;
  left: 80px;
  width: 50px;
  height: 50px;
}

.about__fieldname {
  font-size: 1.2rem;
  margin-bottom: 0px;
  line-height: 1.5;
}

.about__fielddesc {
  font-size: 1rem;
  margin-bottom: 0px;
  line-height: 1.5;
  /* margin-left: 70px; */
}

.container__resume {
  position: relative;
  display: flex !important;
  width: 100% !important;
}

.resume__data {
  flex: 50%;
  height: auto;
  padding: 30px;
  padding-top: 10px;
}

/* projects styles */
.projectCard_container {
  display: flex;
  width: auto;
  height: 500px;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-bottom: 30px;
  padding-left: 50px;
  margin-top: 20px;
  transition-timing-function: linear;
}

.projectCard {
  flex: 1;
  width: 400px;
  height: 300px;
}

.projectCard_image {
  width: 300px;
  height: 200px;
  border: 2px solid #336699;
  border-radius: 20px;
}

.projectCard_Title {
  padding: 8px 70px;
}

.projectCard_Icon {
  padding-right: 10px;
}

.projectCard_Navigator {
  margin-left: 20px;
  display: flex;
  gap: 12px;

}

.projectCard_Navigator__item {
  font-weight: bold;
  padding: 10px;
  background-color: #164a7e;
  border-radius: 10px;
}

.projectCard_Navigator__item:hover {
  cursor: default;
  background: lightslategrey;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }

  /* Sidebar styles */
  .sidebar {
    width: 100%;
  }

  /* Mainbar styles*/

  .mainbar {
    width: auto;
  }

  .about__offered {
    width: auto !important;
    height: auto !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    border-radius: 8px !important;
  }
}

@media only screen and (max-width: 650px) {
  .mainbar__items {
    flex-direction: column;
  }

  .about_title {
    padding: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .mainbar {
    width:440px !important;
  }

  .sidebar {
    width:440px !important;
  }
}
